*{
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
}

main {
    background-color: lightgray;
    padding: 10px;
}
.app-title {
    text-align: center;
    background-color:#fff;
    color: #000;
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 10px;
}

.search {
    display: inline;
    grid-row: 1;
}

#search {
    margin: auto;
    padding: 5px;
    border-radius: 5px;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn {
    background-color: #000;
    color: grey;
    font-size: 16px;
    border-radius: 10px;
    width: 66%;
    margin: auto;
    padding: 5px 2px 5px 2px;
}


.btn:hover {
    background-color: #fff;
    columns: #000;
}

.weather {
    display: grid;
    grid-column: 2;
    grid-template-rows: 1fr 1fr ; 
    grid-gap: 10px;
    background-color: gray;
    border-radius: 10px;
    padding: 10px;
}

.current {
    display: grid;
    grid-row: 1;
    background-color: darkcyan;
    border-radius: 10px;
    grid-template-columns: 1fr 1fr;
}

.city-icon {
    grid-column: 1;
}

.city-data {
    grid-column: 2;
}

.current-weather {
    list-style: none;
    padding-left: 5px;
}

.favorable {
    background-color: green;
}

.moderate {
    background-color: yellow;
}

.severe {
    background-color: red;
}

.forecast {
    display: grid;
    grid-row: 2;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}

.future-forcast {
    background-color: cyan;
    border-radius: 10px;
}

.future-weather {
    list-style: none;
    padding-left: 5px;
}

